<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RPLED</title>
</head>
<body>

<h1>RGLED</h1>
<a href="./solid?r=255&g=0&b=0" title="red">Red</a>
<a href="./solid?r=255&g=125&b=0" title="red">Orange</a>
<a href="./solid?r=255&g=255&b=0" title="red">Yellow</a>
<a href="./solid?r=125&g=255&b=0" title="red">Spring Green</a>
<a href="./solid?r=0&g=255&b=0" title="red">Green</a>
<a href="./solid?r=0&g=255&b=125" title="red">Turquoise</a>
<a href="./solid?r=0&g=255&b=255" title="red">Cyan</a>
<a href="./solid?r=0&g=125&b=255" title="red">Ocean</a>
<a href="./solid?r=0&g=0&b=255" title="red">Blue</a>
<a href="./solid?r=125&g=0&b=255" title="red">Violet</a>
<a href="./solid?r=255&g=0&b=255" title="red">Magenta</a>
<a href="./solid?r=255&g=0&b=125" title="red">Raspberry</a>
<!-- <p>My first paragraph.</p> -->

</body>
</html>
